.horizontal .ebt-container .ebt-hero-container .flex-div {
  display: flex;
  justify-content: space-between;
}
.horizontal .ebt-container .ebt-hero-container .flex-div .col-1 {
  width: 30%;
}
.horizontal .ebt-container .ebt-hero-container .flex-div .col-1 .field--name-field-ebt-hero-title {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}
.horizontal .ebt-container .ebt-hero-container .flex-div .col-1 .field--name-field-ebt-hero-link {
  padding: 10px 30px;
  width: fit-content;
  background: #94c9ff;
  margin: 0 auto;
}
.horizontal .ebt-container .ebt-hero-container .flex-div .col-1 .field--name-field-ebt-hero-link:hover {
  background: #0073e8;
  color: white;
  cursor: pointer;
}
.horizontal .ebt-container .ebt-hero-container .flex-div .col-1 .field--name-field-ebt-hero-link:hover a {
  color: white;
}
.horizontal .ebt-container .ebt-hero-container .flex-div .col-1 .field--name-field-ebt-hero-link a {
  text-decoration: none;
  color: black;
}
.horizontal .ebt-container .ebt-hero-container .flex-div .col-2 {
  width: 60%;
}
.horizontal .ebt-container .ebt-hero-container .field--name-field-ebt-hero-column-image {
  margin-top: 30px;
}
.horizontal .ebt-container .ebt-hero-container .field--name-field-ebt-hero-column-image img {
  width: 100%;
}
