.one_column .ebt-container .ebt-hero-container .field--name-field-ebt-hero-title {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
.one_column .ebt-container .ebt-hero-container .field--name-field-ebt-hero-link {
  padding: 10px 50px;
  width: fit-content;
  background: #94c9ff;
}
.one_column .ebt-container .ebt-hero-container .field--name-field-ebt-hero-link:hover {
  background: #0073e8;
  color: white;

}
.one_column .ebt-container .ebt-hero-container .field--name-field-ebt-hero-link:hover a {
  color: white;
}
.one_column .ebt-container .ebt-hero-container .field--name-field-ebt-hero-link a {
  text-decoration: none;
  color: black;
}
