.quirky .ebt-container .ebt-hero-container .field--name-field-ebt-hero-title {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}
.quirky .ebt-container .ebt-hero-container .flex-div {
  display: flex;
  justify-content: space-between;
}
.quirky .ebt-container .ebt-hero-container .flex-div .col-1 {
  width: 30%;
}
.quirky .ebt-container .ebt-hero-container .flex-div .col-1 .field--name-field-ebt-hero-column-image img {
  width: 100%;
}
.quirky .ebt-container .ebt-hero-container .flex-div .col-2 {
  width: 50%;
}
.quirky .ebt-container .ebt-hero-container .flex-div .col-2 .field--name-field-ebt-hero-link {
  padding: 10px 50px;
  width: fit-content;
  background: #94c9ff;
}
.quirky .ebt-container .ebt-hero-container .flex-div .col-2 .field--name-field-ebt-hero-link:hover {
  background: #0073e8;
  color: white;
  cursor: pointer;
}
.quirky .ebt-container .ebt-hero-container .flex-div .col-2 .field--name-field-ebt-hero-link:hover a {
  color: white;
}
.quirky .ebt-container .ebt-hero-container .flex-div .col-2 .field--name-field-ebt-hero-link a {
  text-decoration: none;
  color: black;
}
