.two_columns .ebt-container .ebt-hero-container .ebt-hero-two-columns {
  display: flex;
  justify-content: space-between;
}
.two_columns .ebt-container .ebt-hero-container .ebt-hero-two-columns .col-1 .field--name-field-ebt-hero-column-image {
  width: 300px;
  height: 300px;
}
.two_columns .ebt-container .ebt-hero-container .ebt-hero-two-columns .col-1 .field--name-field-ebt-hero-column-image img {
  width: 100%;
  height: 100%;
}
.two_columns .ebt-container .ebt-hero-container .ebt-hero-two-columns .col-2 {
  width: 55%;
}
.two_columns .ebt-container .ebt-hero-container .ebt-hero-two-columns .col-2 .field--name-field-ebt-hero-title {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
.two_columns .ebt-container .ebt-hero-container .ebt-hero-two-columns .col-2 .field--name-field-ebt-hero-link {
  padding: 10px 50px;
  width: fit-content;
  background: #94c9ff;
}
.two_columns .ebt-container .ebt-hero-container .ebt-hero-two-columns .col-2 .field--name-field-ebt-hero-link:hover {
  background: #0073e8;
  color: white;
  cursor: pointer;

}
.two_columns .ebt-container .ebt-hero-container .ebt-hero-two-columns .col-2 .field--name-field-ebt-hero-link:hover a {
  color: white;
}
.two_columns .ebt-container .ebt-hero-container .ebt-hero-two-columns .col-2 .field--name-field-ebt-hero-link a {
  text-decoration: none;
  color: black;
}
