.with_background_image .ebt-container .ebt-hero-container .ebt-hero-img-background .field--name-field-ebt-hero-column-image img {
  width: 100%;
  height: 75%;
  position: absolute;
  z-index: -1;
}
.with_background_image .ebt-container .ebt-hero-container .ebt-hero-content {
  padding: 60px;
}
.with_background_image .ebt-container .ebt-hero-container .ebt-hero-content .field--name-field-ebt-hero-title {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
.with_background_image .ebt-container .ebt-hero-container .ebt-hero-content .field--name-field-ebt-hero-link {
  padding: 10px 50px;
  width: fit-content;
  background: #94c9ff;
}
.with_background_image .ebt-container .ebt-hero-container .ebt-hero-content .field--name-field-ebt-hero-link:hover {
  background: #0073e8;
  cursor: pointer;
  color: white;
}
.with_background_image .ebt-container .ebt-hero-container .ebt-hero-content .field--name-field-ebt-hero-link:hover a {
  color: white;
}
.with_background_image .ebt-container .ebt-hero-container .ebt-hero-content .field--name-field-ebt-hero-link a {
  text-decoration: none;
  color: black;
}
