.horizontal {
  .ebt-container {
    .ebt-hero-container {
      .flex-div {
        display: flex;
        justify-content: space-between;
        .col-1 {
          width: 30%;
          .field--name-field-ebt-hero-title {
            font-size: 20px;
            font-weight: 600;
            text-transform: capitalize;
            text-align: center;
          }
          .field--name-field-ebt-hero-link {
            padding: 10px 30px;
            width: fit-content;
            background: #94c9ff;
            margin: 0 auto;
            &:hover {    
              background: #0073e8;
              color: white;

              cursor: pointer;
              a {
                color: white;
              }
            }
            a {
              text-decoration: none;
              color: black;
            }
          }
        }
        .col-2 {
          width: 60%; 
        }
        
      }
      .field--name-field-ebt-hero-column-image {
        margin-top: 30px;
        img {
          width: 100%;
        }
      }
    }

  }
}