.one_column {
  .ebt-container {
    .ebt-hero-container {
      .field--name-field-ebt-hero-title {
        font-size: 20px;
        font-weight: 600;
        text-transform: capitalize;

      }
      .field--name-field-ebt-hero-link {
        padding: 10px 50px;
        width: fit-content;
        background: #94c9ff;
        &:hover {    
          background: #0073e8;
          color: white;
          a {
            color: white;
          }
        }
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}