.quirky {
  .ebt-container {
    .ebt-hero-container {
      .field--name-field-ebt-hero-title {
        font-size: 20px;
        font-weight: 600;
        text-transform: capitalize;
        text-align: center;

      }
      .flex-div {
        display: flex;
        justify-content: space-between;
        .col-1 {
          width: 30%;
          .field--name-field-ebt-hero-column-image {
            img {
              width: 100%;
            }
          }
        }
        .col-2 {
          width: 50%;
          .field--name-field-ebt-hero-link {
            padding: 10px 50px;
            width: fit-content;
            background: #94c9ff;
            &:hover {    
              background: #0073e8;
              color: white;

              cursor: pointer;
              a {
                color: white;
              }
            }
            a {
              text-decoration: none;
              color: black;
            }
          }
        }
      }
    }

  }
}