.two_columns {
  .ebt-container {
    .ebt-hero-container {
      .ebt-hero-two-columns {
        display: flex;
        justify-content: space-between;
        .col-1 {
          .field--name-field-ebt-hero-column-image {
            width: 300px;
            height: 300px;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
        .col-2 {
          width: 55%;
          .field--name-field-ebt-hero-title {
            font-size: 20px;
            font-weight: 600;
            text-transform: capitalize;
    
          }
          .field--name-field-ebt-hero-link {
            padding: 10px 50px;
            width: fit-content;
            background: #94c9ff;
            &:hover {    
              background: #0073e8;
              color: white;

              cursor: pointer;
              a {
                color: white;
              }
            }
            a {
              text-decoration: none;
              color: black;
            }
          }
        }
      }
    }
  }
}