{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
  'block',
  'ebt-block',
  'ebt-block-' ~ plugin_id|clean_class,
  'ebt-basic-button',
  'ebt-hero',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'block-revision-id-' ~ configuration.block_revision_id,
  content.field_ebt_settings['#object'].field_ebt_settings.0.ebt_settings.styles,
  'image-position-' ~ content.field_ebt_settings['#object'].field_ebt_settings.0.ebt_settings.image_position,
  'align-content-' ~ content.field_ebt_settings['#object'].field_ebt_settings.0.ebt_settings.align_content,
]
%}

{{ attach_library('ebt_basic_button/ebt_basic_button_view') }}

{% if content.field_ebt_settings['#object'].field_ebt_settings.ebt_settings.styles == 'one_column' %}
  {{ attach_library('ebt_hero/one_column') }}
  <div{{ attributes.addClass(classes) }}>
  <div class="bg-inner"></div>
  <div class="ebt-container">
    {{ title_prefix }}
    {% if label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    <div class="ebt-hero-container">
      {{ content.field_ebt_hero_title }}
      {{content.body}}
      {{content.field_ebt_hero_column_image}}
      {{content.field_ebt_hero_link}}
    </div>
  </div>
</div>
{% elseif content.field_ebt_settings['#object'].field_ebt_settings.ebt_settings.styles == 'two_columns' %}
  {{ attach_library('ebt_hero/two_columns') }}
  <div{{ attributes.addClass(classes) }}>
  <div class="bg-inner"></div>
  <div class="ebt-container">
    {{ title_prefix }}
    {% if label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    <div class="ebt-hero-container">
      <div class="ebt-hero-two-columns">
        <div class="col-1">
          {{content.field_ebt_hero_column_image}}
        </div>
        <div class="col-2">
          {{ content.field_ebt_hero_title }}
          {{content.body}}
          {{content.field_ebt_hero_link}}
        </div>
      </div>
    </div>
  </div>
</div>
{% elseif content.field_ebt_settings['#object'].field_ebt_settings.ebt_settings.styles == 'with_background_image' %}
  {{ attach_library('ebt_hero/with_background_image') }}
  <div{{ attributes.addClass(classes) }}>
  <div class="bg-inner"></div>
  <div class="ebt-container">
    {{ title_prefix }}
    {% if label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    <div class="ebt-hero-container">
      <div class="ebt-hero-img-background">
        {{content.field_ebt_hero_column_image}}
      </div>
      <div class="ebt-hero-content">
        {{ content.field_ebt_hero_title }}
        {{content.body}}
        {{content.field_ebt_hero_link}}
      </div>
    </div>
  </div>
</div>
{% elseif content.field_ebt_settings['#object'].field_ebt_settings.ebt_settings.styles == 'centered' %}
  {{ attach_library('ebt_hero/centered') }}
  <div{{ attributes.addClass(classes) }}>
  <div class="bg-inner"></div>
  <div class="ebt-container">
    {{ title_prefix }}
    {% if label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    <div class="ebt-hero-container">
      {{ content.field_ebt_hero_title }}
      {{content.body}}
      {{content.field_ebt_hero_column_image}}
      {{content.field_ebt_hero_link}}
    </div>
  </div>
</div>
{% elseif content.field_ebt_settings['#object'].field_ebt_settings.ebt_settings.styles == 'horizontal' %}
  {{ attach_library('ebt_hero/horizontal') }}
  <div{{ attributes.addClass(classes) }}>
  <div class="bg-inner"></div>
  <div class="ebt-container">
    {{ title_prefix }}
    {% if label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    <div class="ebt-hero-container">
      <div class="flex-div">
        <div class="col-1">
          {{ content.field_ebt_hero_title }}
          {{content.field_ebt_hero_link}}
        </div>
        <div class="col-2">
          {{content.body}}
        </div>
      </div>
      {{content.field_ebt_hero_column_image}}
    </div>
  </div>
</div>
{% elseif content.field_ebt_settings['#object'].field_ebt_settings.ebt_settings.styles == 'quirky' %}
  {{ attach_library('ebt_hero/quirky') }}
  <div{{ attributes.addClass(classes) }}>
  <div class="bg-inner"></div>
  <div class="ebt-container">
    {{ title_prefix }}
    {% if label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    <div class="ebt-hero-container">
          {{ content.field_ebt_hero_title }}
        <div class="flex-div">
          <div class="col-1">
            {{content.field_ebt_hero_column_image}}
          </div>
          <div class="col-2">
            {{content.body}}
            {{content.field_ebt_hero_link}}
          </div>
          </div>
      </div>
  </div>
</div>
{% else %}
  {{ attach_library('ebt_stats/stats_with_vertical_dividers') }}
  <div{{ attributes.addClass(classes) }}>
    <div class="bg-inner"></div>
    <div class="ebt-container">
      {{ title_prefix }}
      {% if label %}
        <h2{{ title_attributes }}>{{ label }}</h2>
      {% endif %}
      {{ title_suffix }}
      <div class="ebt-stats-stats_with_vertical_dividers">
      {{ content.field_ebt_stats }}
    </div>
  </div>
  </div>
{% endif %}
